body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.input {
    width: 200px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 11px 12px 13px;
    outline: none;
    border: 1px solid #b2b2b6;
    border-radius: 3px;
    outline: none;
}

.btn {
    width: 200px;
    padding: 11px 8px 13px;
    cursor: pointer;
    outline: none;
    background: #656567;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #656567;
    border-radius: 3px;
}

.btn:hover { background: #5e5e5f; }

.report {
    width: 400px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.report__ul {
    width: 400px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
}